<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <title>Random chat</title>
    <meta name="description" content="Random Chat: connectez-vous \
    pour discuter avec des ENSTA en toute anonymat..." />
</head>

<body>
    <!-- Welcomme page overlay -->
    <div id="welcomePage" class="overlay">
        <div class="welcomeTitle">
            <h1>Bienvenue sur le Random Chat!</h1>
            <div>
                <button class="uk-button-primary uk-button-large" onclick="connect()">Se connecter</button>
            </div>
        </div>
    </div>
    <!-- Username form page overlay -->
    <div id="usernameFormPage" class="overlay">
        <div class="form">
            <h3 class="title">Quel est ton nom ?</h3>
            <input id="usernameInputField" class="usernameInput" type="text" maxlength="14" autofocus />
        </div>
    </div>
    <!-- Chat page -->
    <div class="uk-container uk-container-large">
        <h3>Vous discutez avec : </h3>
        <!-- connected people live counter -->
        <p id="peopleCounter"></p>
        <!-- change interlocutor button -->
        <button class="uk-button" id="changeInterlocutorButton" type="button"
            onclick="changeInterlocutor(socket)">Changer
            d'interlocuteur</button>
        <!--list of messages-->
        <div class="uk-margin uk-margin-left">
            <ul class="uk-list" id="messages"></ul>
        </div>
        <!--form for composing messages-->
        <form id="messageComposer" onSubmit="return false">
            <div class="uk-child-width-expand@s" uk-grid>
                <div class="uk-width-4-5">
                    <input class="uk-input uk-align-left uk-box-shadow-hover-small" id="userMessageInputField"
                        autocomplete="off" type="text" name="userInput" placeholder="Tapez votre message ici">
                </div>
                <button class="uk-button-primary uk-width-1-6 uk-margin-left uk-box-shadow-hover-medium"
                    uk-tooltip="title: Alors ? On hésite ?; delay: 5000" id="sendButton" type="button"
                    onclick="sendMessage()">
                    <font size="3">Envoyer</font><span uk-icon="icon: arrow-right; ratio: 1.5"></span>
                </button>
            </div>
        </form>
    </div>
    <!-- js -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/init.js"></script>
</body>

</html>