<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <title>Random chat</title>
    <meta name="description" content="Random Chat: connectez-vous \
    pour discuter avec des ENSTA en toute anonymat..." />
</head>

<body>
    <h1>Bienvenue sur le Random Chat !</h1>
    <!-- connected people live counter -->
    <p id="peopleCounter"></p>
    <!-- change interlocutor button -->
    <button id="changeInterlocutorButton" type="button" onclick="changeInterlocutor()">Changer d'interlocuteur</button>
    <!--list of messages-->
    <ul class="uk-list uk-list-striped" id="messages"></ul>
    <!--form for composing messages-->
    <form class="bottom" id="messageComposer" onSubmit="return false">
        <div class="uk-margin" uk-margin uk-grid>
            <input class="uk-input uk-margin-left uk-width-3-4 uk-box-shadow-hover-small" id="userMessageInputField"
                autocomplete="off" type="text" name="userInput" placeholder="Taper votre message ici">
            <button
                class="uk-button uk-button-primary uk-align-right uk-margin-right uk-width-1-5 uk-box-shadow-hover-medium"
                uk-tooltip="title: Alors ? On hésite ?; delay: 5000" id="sendButton" type="button"
                onclick="sendMessage()">Envoyer</button>
        </div>
    </form>
    <a href="#" uk-totop uk-scroll></a>

    <!-- js -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/init.js"></script>
</body>

</html>