/* Overlays ('background) */

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000000;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}

/* Welcome page */

/* Position the content inside the welcome overlay */

#welcomePage {
  z-index: 2;
}

.welcomeTitle {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

div.welcomeTitle {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center }

div.welcomeTitle h1 {
  margin: 0 }

/* Username form page */

#usernameFormPage {
  z-index: 1;
}

.usernameFormPage .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.usernameFormPage .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.usernameFormPage .title {
  font-size: 200%;
}

.usernameFormPage .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.usernameFormPage .title, .usernameFormPage .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Refactor UK notifications a bit */

.uk-notification {
  width: auto!important;
  min-width: 300px!important;
  max-width: 1000px!important;
  height: auto!important;
  display: flex!important;
  flex-direction: column;
}
.uk-notification-message {
  padding-right: 1em!important;
  width: auto!important;
  max-width: 80%!important;
  text-align: left;
  display: inline-flex;
}
